<div class="container my-4">
  <div class="row ">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto ">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Trash Talk</h5>
          </hr>
          <form action="/" method="POST">
            <div class="row mx-1">
              <div class="col-12 col-sm-4">
                <div class="card align-items-center">
                  <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
                    class="card-img-top" alt="工程師">
                  <div class="card-body">
                    <div class="custom-control custom-radio">
                      <input class="form-check-input" type="radio" name="target" id="engineer" value="engineer">
                      <label class="form-check-label" for="engineer">工程師</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <div class="card align-items-center">
                  <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
                    class="card-img-top" alt="設計師">
                  <div class="card-body">
                    <div class="custom-control custom-radio">
                      <input class="form-check-input" type="radio" name="target" id="designer" value="designer">
                      <label class="form-check-label" for="designer">設計師</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class=" col-12 col-sm-4">
                <div class="card align-items-center">
                  <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
                    class="card-img-top" alt="企業家">
                  <div class="card-body">
                    <div class="custom-control custom-radio">
                      <input class="form-check-input" type="radio" name="target" id="entrepreneur" value="entrepreneur">
                      <label class="form-check-label" for="entrepreneur">創業家</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="row ">
                  <div class="col-sm-2 mt-3">
                    <button type="submit" class="btn btn-secondary">產生幹話</button>
                  </div>
                  <div class="col-sm-10 mt-3">
                    <div class="card p-2" style="height: 120px;"></div>
                  </div>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>